.details {
  padding: 128px 0;

  @include container;

  &__title {
    margin: 0;

    color: $color-white;
    font-family: $font-main;
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 60px;
  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__images {
    display: flex;
    gap: 24px;
  }

  &__image {
    display: block;

    height: 320px;
    object-fit: cover;
    width: 100%;

    transition: transform $transition-time;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__image-link {
    flex: 2;
    display: block;
    overflow: hidden;
    min-width: 0;
  }

  &__image-link--small {
    flex: 1;
  }

  &__text {
    max-width: 672px;
    margin-top: 20px;
  }

  &__subtitle {
    margin: 0;

    color: $color-white;
    font-family: $font-main;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }

  &__text-body {
    margin-top: 12px;

    color: $color-white;
    font-family: $font-main;
    font-size: 16px;
    line-height: 1.4;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 324px;
    height: $button-height;
    margin: 48px auto 0;

    border-radius: $radius-pill;

    background-color: $color-white;
    color: $color-bg;

    font-family: $font-main;
    font-size: 16px;
    font-weight: 700;

    transition:
      background-color $transition-time,
      color $transition-time;

    &:hover {
      background-color: $color-input-bg;
    }
  }
}

@media (max-width: 1023px) {
  .details {
    padding: 100px 0;

    &__title {
      font-size: 48px;
    }

    &__image {
      height: 220px;
    }
  }
}

@media (max-width: 639px) {
  .details {
    padding: 80px 0;

    &__title {
      font-size: 40px;
    }

    &__rows {
      gap: 40px;
      margin-top: 40px;
    }

    &__images {
      flex-direction: column;
    }

    &__image {
      height: 200px;
    }

    &__button {
      max-width: none;
      margin-top: 40px;
    }
  }
}
