.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 160px;
  padding: 32px 20px;

  background-color: $color-main;

  &__logo {
    display: block;
  }

  &__logo-image {
    width: 187px;
    height: auto;
  }

  &__copyright {
    margin-top: 20px;

    color: $color-white;
    font-size: 14px;
    line-height: 20px;
  }
}
