.footer {
  min-height: 100px;
  padding: 32px 0;

  position: sticky;
  bottom: 0;
  z-index: -1;

  display: flex;
  align-items: center;

  background-color: $color-main;

  &__logo {
    @include container;

    display: block;
  }

  &__logo .header__logo-image {
    width: 187px;
  }
}
