.footer {
  &__banner {
    display: block;
    width: 100%;
    height: 480px;
    object-fit: cover;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 48px 20px;
  }

  &__copyright {
    color: $color-white;
    font-family: $font-footer;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.25;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

@media (max-width: 639px) {
  .footer__banner {
    height: 280px;
  }
}
