.header {
  min-height: 100vh;

  background-image: url('../../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    @include container;

    padding: 36px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-image {
    width: 187px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__phone,
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__menu {
    cursor: pointer;
  }

  &__hero {
    @include container;

    height: calc(100vh - 110px);

    display: flex;
    align-items: flex-end;

    padding-bottom: 80px;
  }

  &__title {
    color: $color-white;

    font-size: 80px;
    font-weight: 700;

    line-height: 80px;

    max-width: 500px;
  }
}
