@media (max-width: 639px) {
  .header {
    &__content {
      padding: 24px 20px;
    }

    &__logo-image {
      width: 140px;
    }

    &__actions {
      gap: 20px;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }

    &__hero {
      height: calc(100vh - 88px);

      padding: 0 20px 48px;
    }

    &__title {
      font-size: 48px;
      line-height: 52px;

      max-width: 320px;
    }
  }

  .menu {
    padding: 0 20px;

    &__top {
      min-height: 80px;
    }

    &__nav {
      margin-top: 40px;
    }

    &__phone {
      margin-top: 40px;
    }
  }

  .nav {
    &__link {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
