@mixin container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding-right: $container-padding;
  padding-left: $container-padding;

  @media (max-width: 1023px) {
    padding-right: $container-padding-tablet;
    padding-left: $container-padding-tablet;
  }

  @media (max-width: 639px) {
    padding-right: $container-padding-mobile;
    padding-left: $container-padding-mobile;
  }
}
